  
.title {

  background-color: darkblue;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  color:goldenrod;
     
}
h2{
  font-weight: 700;
  font-size: 50px;
  padding-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.img2 {
    
  height: 50px;
  width: auto;
  padding-left: 100px;

}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400vh;
    background-image: url(./images/blyeyello.jpg);
     }

     img{
        height: 50px;
        width: auto;
        
         }
  h1 {
    text-align: center;
    font-weight: 900;
    background-image: linear-gradient(to bottom, transparent 10%, darkblue 50%, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
 

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 70px;
    color: darkblue;
    overflow: visible;
    border: 2px solid darkblue;
    border-radius: 25%;
    padding: 40px;
  }
.input-container:hover{
  transform: scale(1.2);
}

  

  label {
    font-size: 18px;
    margin-bottom: 10px;
  }

  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
  }

  button {
    background-color: darkblue;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
  }

  button:hover {
    background-color: rgb(49, 49, 214);
  }

  .output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: darkblue;
  }

  p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .age-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: darkblue;
    border: 2px solid darkblue;
    border-radius: 25%;
    padding: 40px;
    
  }
  .age-container:hover{
    transform: scale(1.2);
  }
  .result{
    color: #050505;
    
    font-weight: 600;
    ;
    
  }