body{
    background-image: url(./images/blyeyello.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-weight: 700;
  background-image: linear-gradient(to bottom, transparent 0%, darkblue 50%, goldenrod);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: darkblue;
    
  }

 
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    background-color: darkblue;
    opacity: 80%;
    color: white;
    
  }

  
  .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  
  .form-label {
    flex-basis: 50%;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .form-input {
    flex-basis: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }

 
  .form-container input[type=button] {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 800;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid goldenrod;
  }
  .form-container input[type=button]:hover {
    background-color: goldenrod;
  }
  

  
 
  .label1{
    margin-right: 60px;
  }
  
  
